.button {
    padding: 0 20px;
    font-size: 30px;
    font-weight: 900;
    border-radius: 5px;
    border: none;
}

.default {
    background-color: rgb(6, 200, 248);
    color:rgb(44, 43, 43);
}

.default:active {
    background-color: rgb(44, 43, 43);
    color: rgb(6, 200, 248);
}

.disabled {
    color:rgb(44, 43, 43);
    background-color: rgb(0, 164, 196);
}

.button:disabled {
    opacity: .3;
}