.input {
    border: 4px solid rgb(6, 200, 248);
    border-radius: 5px;
    outline: none;
    font-weight: 700;
    text-align: center;
    max-width: 150px;
    padding: 5px;
    margin-left: auto;
}